[Unit]
Description=Start the input service framework panel

[Service]
ExecStart=/usr/bin/isf-panel-efl
Environment="DISPLAY=:0.0" "HOME=%h" USE_OZONE_WAYLAND_VKB=1 OZONE_WAYLAND_USE_XDG_SHELL='defined'
EnvironmentFile=/run/tizen-system-env
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
